:root{
    --red: #F24236;
    --lightBlue: #AEECEF;
    --white: #FFE3DC;
    --pink: #FF5D73;
    --black: #333333;
    --blackTranslucent: #33333332;

}

html, body{
	padding: 0px;
	margin: 0px;
	scroll-behavior: smooth;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
thead th:nth-child(1) {
    width: 20%;
}
  
  thead th:nth-child(2) {
    width: 35%;
}
  
  thead th:nth-child(3) {
    width: 45%;
}
th, td {
    padding: 20px;
}


.nav{
    background-color: var(--red);
    margin: 0px;
    padding: 0px;
}
.main-container{
    width: 1400px;
    margin: 0 auto;
}
.back-button{
    margin-left: 1%;
    display:inline-block;
    padding: 15px;;
}
.title{
    /*margin: 2em 2em 2% 2%;*/
}
.roles{
    margin-left: 0.5em;
}

.game-content{
    display: grid;
    grid-template-areas: 
    "gameplay description"
    "screenshots description";
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 2em;
    margin-top: 2em;
}
.gameplay{
    /*align-self: center;*/
    grid-area: gameplay;
}

.one-liner{
    
}
.features{
    
}
.description{
    grid-area: description;
}
.screenshots{
    display: flex;
    flex-flow: column wrap;
    grid-area: screenshots;
}
.screenshots img{
    object-fit: cover;
    max-width: 100%;
    padding-top: 1em;
}
.gifs{
}
.gifs img{
    object-fit: cover;
    max-width: 85%;
}

a{
	text-decoration: none;
}

.back-button:hover{
    background-color: var(--blackTranslucent);
}

h1, h2, h3, h4, h5, h6, strong{
	color: var(--black);
	font-family: 'Orbitron', sans-serif;
	font-weight: 500;
    margin: 0;
    padding: 0;
}
p{
    color: var(--black);
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}
th, td{
    font-family: 'Ubuntu Mono', monospace;
	font-weight: 400;
    font-size: 20px;
    color: var(--black);
}
td img{
    max-width: 100%;
    object-fit: cover;
}

th{
    color: var(--red);
    font-weight: 500;
    text-align: left;
    background-color: var(--black);
}

thead th:nth-child(1) {
    width: 20%;
}
  
thead th:nth-child(2) {
    width: 50%;
}
  
thead th:nth-child(3) {
    width: 30%;
}
tbody tr:nth-child(odd) {
    background-color: var(--white);
}
  
  tbody tr:nth-child(even) {
    background-color: var(--lightBlue);
}

@media screen and (max-width: 1400px){
	.main-container{
        width:95%;
    }
}
@media screen and (max-width: 1000px){
	.game-content{
    grid-template-areas: 
    "gameplay"
    "description"
    "screenshots";
    grid-template-columns: 1fr;
    }
}

  

  
