/*:root{
    --main: #E84A43;
    --secondary: #B3E6CE;
    --secondaryDarker: #a7d3be;
    --white: #FFFFFF;
    --pink: #C9EDDC;
    --black: #2F2E2E;
    --blackTranslucent: #2F2E2E32;
    --primaryTranslucent: #E84A438e;
    --secondary2: #fe6c0f;

}*/
/*:root{
    --red: #F2E012;
    --lightBlue: #A5D8FF;
    --white: #FFFFFF;
    --pink: #F86624;
    --black: #121111;
    --blackTranslucent: #06050732;
    --redTranslucent: #F2E0128e;

}*/
:root{
    --main: #81c1cb;
    --secondary: #ee88af;
    --secondaryDarker: #ec689b;
    --white: #FFFFFF;
    --pink: #ee88af;
    --black: #312f2e;
    --blackTranslucent: #3d3a3932;
    --primaryTranslucent: #81c1cb8e;
    --secondary2: #fe6c0f;
}

html, body{
	padding: 0px;
	margin: 0px;
	scroll-behavior: smooth;
    background-color: var(--black);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
thead{
}
thead th:nth-child(1) {
    width: 20%;
}
  
  thead th:nth-child(2) {
    width: 35%;
}
  
  thead th:nth-child(3) {
    width: 45%;
}
th, td {
    padding: 20px;
}



.nav{
    background-color: var(--main);
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: fixed;
    z-index: 99;
    border-bottom:inset;
    border-width: 2px;
    border-color: var(--black);
}
.main-container{
    width: 1400px;
    margin: 0 auto;
    padding: 0 0 0 0;
    background-color: var(--black);
    position:relative;
    z-index:2;
}
.back-button{
    margin-left: 1%;
    display:inline-block;
    padding: 10px;
    transition: .5s ease;
}
.title{
    background-color: var(--main);
    padding: 1em 0 1em 0;
}
.roles{
    margin-left: 0.5em;
}
.roles p{
    color: var(--black);
}

.game-content{
    display: grid;
    grid-template-areas: 
    "gameplay description"
    "screenshots screenshots";
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 2em;
    margin-top: 2em;
    padding: 0 15px 1em 15px;
}
.gameplay{
    /*align-self: center;*/
    grid-area: gameplay;
    margin-top:auto;
    margin-bottom: auto;
    /*max-width: 50%;*/
}


.description{
    grid-area: description;
}
.screenshots{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-area: screenshots;
    /*margin: auto;*/
}
.screenshots img{
    object-fit: cover;
    /*grid-area: screenshots;*/
    max-width: 100%;
    padding-top: 1em;
}
.gifs img{
    object-fit: cover;
    max-width: 85%;
}
#bg-image{
    background-color: var(--blackTranslucent);
    background-size:cover;
    position: absolute;  
    width: 100%;
    min-height: 100%;
    filter:blur(8px);
    background-blend-mode: multiply;
    background-attachment:fixed;
    background-position:center;
}
#except-nav{
    /*background-color: var(--black);*/
    top:3em;
    position: relative;
}

.intro{
    padding: 200px 0 200px 0;
    background-color: var(--main);
}
#intro-text{
    padding: 2em;
    width: 700px;
    background-color: var(--secondary);
}
.projects{
    padding-top: 4em;
}
#portfolio{
    margin-top: 4em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 320px;
    /*row-gap: 2px;
    column-gap: 2px;*/
}
.project{
    justify-self:center;
    position: relative;
    width: 100%;
}
.project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}
#about-wrapper{
    display: flex;
    flex-flow: column wrap;
    background-color: var(--secondary);
}
.project .overlay{
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--primaryTranslucent);
}
.project .overlay h3{
    margin-top: 1em;
    text-align: center;
    font-size: 60px;
}
.link{
    display:inline-block;
    padding: 10px;
    transition: .5s ease;

}


.project:hover .overlay{
    opacity: 1;
}
.back-button:hover, .link:hover{
    background-color: var(--blackTranslucent);
}
.description a, #other-content a{
    color: var(--main);
}
#other-content{
    flex-flow: column wrap;
    margin-top: 2em;
    padding-bottom: 2em;
    margin-left:1em;
    margin-right: 1em;
}
#other-content h2{
    color: var(--white);
}
#other-content .screenshots{
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#other-content .screenshots img {
    max-width: 45%;
}
#footer{
    height: 100px;
    background-color: var(--main);
    border-top:inset;
    border-width: 2px;
    border-color: var(--black);
    text-align: center;
    position: relative;
}
a{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, strong{
	color: var(--black);
	font-family: 'Orbitron', sans-serif;
	font-weight: 500;
    margin: 0;
    padding: 0;
}
p{
    color: var(--white);
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.roles p, #footer p {
    font-family:'Ubuntu Mono', monospace;
    font-size: 21px;
    color: var(--black);
    z-index: 99;

} 

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}
th, td{
    font-family: 'Roboto Mono', monospace;
	font-weight: 400;
    font-size: 18px;
    color: var(--black);
}
td img{
    max-width: 100%;
    object-fit: fill;
}

th{
    color: var(--black);
    font-weight: 500;
    text-align: left;
    background-color: var(--main);
}

thead th:nth-child(1) {
    width: 20%;
}
  
thead th:nth-child(2) {
    width: 50%;
}
  
thead th:nth-child(3) {
    width: 30%;
}
tbody tr:nth-child(odd) {
    background-color: var(--secondaryDarker);
}
  
tbody tr:nth-child(even) {
    background-color: var(--secondary);
}
tbody td:nth-child(3){
    background-color: transparent;
    padding: 0;
}

@media screen and (max-width: 1400px){
	.main-container{
        width:100%;
    }
}
@media screen and (max-width: 1000px){
	.game-content{
    grid-template-areas: 
    "gameplay"
    "description"
    "screenshots";
    grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 740px){
	#intro-text{
        width: auto;
    }
    #portfolio{
        grid-template-columns: 100%;
        grid-auto-rows: 320px;
    }
}

  

  
